.footers {
  width: full;
  display: flex;
  /* left: 0;
  right: 0;
  bottom: 0;
  position: relative; */
    gap: 2rem;
  align-items: center;
  /* background-color: #b8f6f6; */
  justify-content: center;
  background-color: #fbffff;
 
 
  border: none;
}

.link:hover{
color: rgb(62, 62, 206);
}
.insta:hover{
color: rgb(216, 64, 104);
}
.git:hover{
  color:rgb(76, 62, 62);
}